$black_text_color : #000;
$white_text_color : #ffff;
$gradiend_color: linear-gradient(45deg, rgba(126,0,134,1) 0%, rgba(180,1,153,1) 47%, rgba(201,0,190,1) 82%, rgba(255,0,254,1) 100%);
$inputFiled-width: 322px;
$inputField-padding:10px;
$gray-border:rgba(184, 184, 184, 0.318);